.input-group {
    width: 100%;
    text-align:center;
}
.textbox{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    width: 482px;
    margin-bottom: 6px;
    padding: 6px 20px 5px 25px;
}