<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <style>
        li{
            color:blue;
        }
        a{
            color: red;
        }
        .list{
            text-align: center;
        }
        body{
            background: antiquewhite;
        }
        h2 li a {
        border: 1px solid black;
        padding: 5px;
        }
        table {
        border-spacing: 15px;
        }
    </style>

</head>
<body>
  <div class="list">
      <h5><a href="/">Back to Download page</a></h5>
  </div>
  <center>
  <table style="width:100%">
      <h2>History of downloads</h2>
  {% for mp3 in instance %}
      {{ index }}<li> {{ mp3.url }} <a>downloaded in</a> {{ mp3.loaded_in }} <a> and sent to </a> {{ mp3.email }}</li>
  {% endfor %}
  </table>
</center>
</body>
</html>