
<html>

<head>
<style>
    .center {
        text-align: center;
        margin: 350px;
    }
    h3 {
        color: darkslategrey;
    }
</style>
</head>
<body class="center">
<div class="row">
    <div class="">
        <h3 class="display-2 text-center">Convert YouTube video to MP3</h3>
    </div>
</div>
<div class="row">
    <div class="link-download">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Download as MP3">
        </form>
    </div>
</div>

</body>
</html>


